/* Dashboard.css */

.dashboard-main {
  align-items: center; /* Center items vertically */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items horizontally */
}


.sidesearch{
display: flex;
}

.search{

  margin-top: 60px !important;
  width: 100% !important;
}

.MuiPaper-root {
  color: #1976d2;
}