.sidebar {
    width: 50px; /* This is the default width. If you want to expand the sidebar, you'll need to use JavaScript to add a new class or change the style */
    transition: width 0.3s ease;
    position: relative;
    border-right: 1px solid #e0e0e0;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #0d6efd;
    color: white;
    padding: 0px;
    overflow: hidden;
  }
  
  /* Create a new class for when the sidebar is expanded */
  .sidebar-expanded {
    width: 220px;
  }
  